.react-datepicker {
  position: absolute;
  top: 35px;
  right: 30px;
}

.react-datepicker__time-container {
  width: 80px;

  .react-datepicker__time > div > ul {
    padding: 0 10px 0 0px;

    li {
      padding: 10px 0px 10px 4px;
      width: 60px;
    }
  }
}
