.popup {
  background-color: #ffffff;
  position: absolute;
  top: 440px;
  right: 30px;
  border-radius: 4px;
  border: 2px solid #1f6da0;
  padding: 15px;
  width: 290px;
  font-family: 'Helvetica', san-serif;
  font-size: 14px;
  opacity: .9;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.numactive {
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  top: 35px;
  border: 2px solid #1f6da0;
  z-index: 1;
  background-color: #ffffff;
  font-family: 'Helvetica', san-serif;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 0;
  opacity: .9;
  width: 390px;
  text-align: center;
}
